* {
    font-style:'Roboto', sans-serif; ;
}

header {
    position: relative;
    height: 50px;
}

nav {
    height: 50px;
    background-color: #212121;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 50px 13px 50px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-size: 15px;
    color: #ffffff;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 17px;
}

.subheader .subheader_official {
    opacity: 0.502;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 6px;
}

.subheader .subheader_call {
    font-size: 12px;
    color: #ffffff;
    font-weight: 300;
    text-align: right;
    margin-top: 19px;
}

.subheader .subheader_phone {
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-align: right;
    margin-top: 8px;
    line-height: 12px;
}

.subheader .subheader_button {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0px rgba(0,0,0,0.12);
    background-image: linear-gradient(0deg, #1eacc7 0%, #1eacc7 0%, #4ce2ff 100%);
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-shadow:  1px 1px 0 rgba(0,0,0,0.21);
}

.promo {
    min-height: 800px;
    background: url(../img/start/start.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subheader {
    font-size: 36px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descr {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 118px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0px rgba(0,0,0,0.12);
    background-image: linear-gradient(0deg, #1eacc7 0%, #1eacc7 0%, #4ce2ff 100%);
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-shadow:  1px 1px 0 rgba(0,0,0,0.21);
}


.reasons {
    padding: 71px 0 60px 0;
}

.label {
    width: 112px;
    height: 24px;
    padding: 3px 0 0 0;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 250;
    text-align: center;
    background-color: #000000;
    margin: 0 auto;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 35px;
}

.reasons .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_text {
    width: 343px;
}

.reasons .reasons_title {
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_descr {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}